@use 'styles/_colors';
@use 'styles/_spacings';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.list {
  display: flex;
  flex-direction: row;
}

.link, .currentPage {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: spacings.$spacing-xs;
  margin: 0 spacings.$spacing-xs;
}

.link {
  text-decoration: none;

 &:hover {
    background-color: colors.$light-blue;
  }
}

.currentPage {
  background-color: colors.$dark-blue;
  color: white;
  font-weight: bold;
}

.legend {
  color: colors.$dark-gray;
  font-size: 1.2rem;
  margin-top: spacings.$spacing-s;
}